.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
  }
:root {
    --Basic-green: #63A63E; 
    --Basic-red: #EE3643;
    --Basic-greylight: #C5C5C5;
    --Basic-grey: #3D546F;
    --Basic-white: #FFFFFF;
    --Dark-blue: #32425C;
    --Basic-background: #F1F5F7;
    --Special-yellow: #FFBF47;
    --Special-blue: #3BBCE3;
    --Special-lilac: #DC91D8;
    --Special-greenlight: #8ED78F;
    --Special-yellowlight: #FFD180;
    --Success: #5FBB2D;
    --Warning: #FFBF47;
    --Error: #BA2732;
    --Black: #000000;
    --Light-grey: #EAEAEA;
    --Extra-light-grey: #A9A9A9;
    --yellow: #FFDA96;
    --Blue: #293449;
    --Dark: #212A3A;
    --Special-dark: #161D29;
    --Very-dark: #1D2739;
    --Bg-yellow: #F9F5F0;
}
html {
    height: 100%;
}
body {
    min-height: 100%;
    display: grid;
    grid-template-rows: min-content 1fr min-content;
    min-width: 960px;
    margin: 0;
    padding: 0;
    font-family: 'Cuprum', 'PT Sans', sans-serif;
    font-size: 14px;
    line-height: 24px;
    font-weight: 400;
    color: var(--Black);
    background-color: var(--Basic-white);
    align-content: start;
}  
a {
    text-decoration: none;
}
img {
    max-width: 100%;
    height: auto;
}
.container {
    width: 940px;
    margin: 0 auto;
    padding: 0 10px;
  }
.main-header .bg-wrapper {
    background-color: var(--Blue);
} 
.main-navigation {
    
    font-size: 18px;
   line-height: 24px;
    color: var(--Basic-white);
    background-color: var(--Dark-blue);
}
.main-navigation a {
    display: block;
    padding: 20px 31px;
    color: var(--Basic-white);
}
.main-navigation li:hover {
    background-color: var(--Blue);
}
.main-navigation li:focus {
    background-color: var(--Very-dark);
}
.main-header {
    background-color: var(--Basic-background);
}
.wrapper-main-header {
    width: 100%;
    display: flex;
    flex-direction: column;
}
.site-navigation {
 display: flex;
 justify-content: space-around;
}
.wrapper-navigation,
.additinal-navigation ul,
.user-navigation ul{
    display: flex;
    justify-content: space-between;
}

.information .container {
display: grid;
grid-template-columns: 1fr 1fr 1fr;
padding: 37px 0;
}

.information-item {
   text-align: center;
} 

.information-item a {
    display: inline-block;
}

.user-block {
    margin-left: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* justify-content: center; */
} 
.main-header ul,
.main-footer ul,
.footer-social ul,
.list-services {
    margin: 0;
    padding: 0;
    list-style: none;
}
/* .main-header a,
.logo-footer a {
    color: var(--Basic-white);
    padding: 11px 57px 11px 55px;
} */
/* .main-header-logo,
.main-footer-logo{
    width: 108px;
    height: 18px;
} */
a.main-header-logo,
a.main-footer-logo {
    display: inline-block;
    background-color: var(--Basic-red);
    box-shadow: 0 5px 0 0 #b52933;
    padding: 12px 57px 12px 55px;
}
.main-header-logo:active {
    background-color: var(--Error);
}
.marker:active,
.shopping:active {
    background-color: var(--Special-dark);
}
.order {
   text-align: center;
   margin-left: 26px;
   padding: 4px 16px; 
   
}
li.order:hover {
    background-color: var(--Success);
}
.marker {
    padding-left: 22px;
    text-align: center;
}
.search {
    padding-left: 21px;
    margin-left: 6px;
     text-align: center;
}
.shopping {
    padding-left: 23px;
    margin-left: 50px;
}
.user-block .enter {
    
}
.search a:focus {
    background-color: var(--Basic-white);
}
.search a,
.user-navigation  a {
    display: inline-block;
    padding: 9px 0;
    font-size: 18px;
    line-height: 24px;
    color: var(--Basic-white);
}
.wrapper-navigation {
    background-color: var(--Blue);
}

.user-navigation .order {
    background-color: var(--Basic-green);
}
.slogan {
    color: var(--Basic-red);
    font-size: 13px;
    line-height: 23px;
    text-align: left;
}
.tel a{
    font-weight: 700;
    font-size: 21px;
    line-height: 30px;
    color: var(--Basic-red);
    border: 3px solid var(--Basic-white); 
    padding: 7px 45px 8px 39px;
    text-align: center; 
}
.address {
    font-size: 14px;
    line-height: 24px;
    color: var(--Dark-blue);
}
.user-block .enter,
.user-block .registration {
    text-align: center;
    vertical-align: middle;
    background-color: var(--Basic-white);
    font-size: 21px;
    line-height: 21px;
    padding: 12px 24px 12px 24px;
}
.user-block a{
    color: var(--Black);
}
.user-block .enter a:hover,
.user-block .registration a:hover {
    color: var(--Basic-red);
}
.user-block .enter a:focus,
.user-block .registration a:focus {
    color: var(--Basic-greylight);
}

.info-services h2,
.contacts h2,
.popular-products h2,
.wrapper-popular-manufacturers h2 
{  font-weight: 400;
    text-transform: uppercase;
    font-size: 30px;
    line-height: 30px;
}
.services p,
.contacts p  {
    margin: 0;
    font-size: 13px;
    line-height: 24px;
}
.list-services li {
    font-size: 18px;
    line-height: 24px;
}
.contacts .button,
.info-services .button,
.rotary-hammers .button,
.popular-products .button,
.popular-manufacturers .button {
    text-align: center;
    vertical-align: middle;
    text-transform: uppercase;
    border: none;
    color: var(--Basic-white);
    background-color: var(--Basic-red);
    font-size: 14px;
    line-height: 18px;
    padding: 11px 26px 9px;
}
.wrapper-popular-products,
.wrapper-popular-manufacturers {
    background-color: var(--Bg-yellow);
}

.page-footer {
    background-color: var(--Dark-blue);
    font-size: 18px;
    line-height: 24px;
    color: var(--Basic-white);
}

.list-nav a:hover{
    text-decoration: underline;
}
.list-nav a:focus{
    opacity: 0.6;
}
.wrapper-info-company .container{
    display: flex;
    justify-content: space-between;
    margin-bottom: 70px;
    margin-top: 70px;

}
.info-services {
    width: 447px;
}
.list-services {
    margin-bottom: 23px;
}
.contacts {
    width: 300px;
}
.location {
    margin-bottom: 23px;
}
.wrapper-info-company h2 {
    margin: 0;
    margin-bottom: 24px;
}
.main-nav-footer a{
    color: var(--Basic-white);
}
.page-footer .container{
    display: flex;
    flex-direction: column;
    
}
.main-footer {
    display: grid;
    grid-template-columns: 1fr 1fr; 
    margin-bottom: 54px;
}
.contacts-footer {
   width: 322px;
} 
.contacts-footer p {
    padding: 0;
    margin: 0;
} 
.list-nav {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    font-size: 18px;
    line-height: 24px;
}
.main-nav-footer {
    display: flex;
    justify-content: space-between;
}

.main-nav-footer li,
.services-footer li{
    margin-left: 58px;
}
.services-footer {
    display: flex;
    justify-content: space-between;
}
.services-footer a{
    color: var(--yellow);
}
.logo-footer {
    margin-bottom: 22px;
}
.section-footer {
    background-color: var(--Blue);
    padding: 36px 0;
    font-size: 16px;
    line-height: 18px;
}
.section-footer .container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: center;
    text-align: center;
}
 
.wrapper-feedback p {
    margin: 0;
} 
.footer-social {
    width: 134px;
    justify-self: center;
    text-align: center;
}
.footer-social ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 131px;
    margin: 0 auto;
    padding: 0;
}
.social-button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 43px;
    height: 43px;
    color: inherit;
}
li .social-button {
    border-radius: 50px; 
    background-color: var(--Dark);
}
.wrapper-feedback {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0;
    width: 290px;
 margin: 0;
 }
.feedback a,
.footer-copyright a {
    color: var(--yellow);
}
.feedback a:focus,
.footer-copyright a:focus {
    color: var(--Basic-red);
} 
.my-login {
    font-size: 21px;
    line-height: 21px;
    color: var(--Black);
    background-color: var(--Basic-white);
}
.my-login a {
    color: var(--Black);
    padding: 12px 21px;
}
.personal a{
    font-size: 16px;
    line-height: 18px;
    color: var(--Dark);
}
.login-panel a:focus {
    color: var(--Basic-greylight);
    }
.personal a:hover {
    color: var(--Basic-red);

}
.catalog-item {
    width: 30%;
    font-family: PT Sans;
    border: 1px solid #EAEAEA;
    vertical-align: middle;
    text-align: center;
}


.catalog-item h3 {
    font-size: 18px;
    line-height: 20px;
    color: var(--Black);
    font-weight: bold;
}
.catalog-item .old-price {
    font-weight: 700;
    font-size: 17px;
    line-height: 18px;
    text-align: center;
    color: var(--Extra-light-grey);
    text-decoration: line-through;
  }
  .catalog-item .button {
    font-weight: 700;
    font-size: 17px;
    line-height: 18px;
    background-color: var(--Basic-red);
    color: var(--Basic-white);
    padding: 10px 32px;
    border: none;
  }
  .materials {
      background-color: var(--Special-yellow);
  }
  .tool {
       background-color: var(--Special-blue);
  }
  .equipment {
       background-color: var(--Special-lilac);
  }
  .discounts {
      background-color: var(--Special-greenlight);
  }
  .delivery {
      background-color: var(--Special-yellow);
  }
  .products a {
    color: var(--Basic-white);
  }
  .products {
    color: var(--Basic-white);
  }
  .products h3 {
    font-weight: 700;
    font-size: 24px;
    line-height: 30px;
  }
  .materials a,
  .tool a,
  .equipment a,
  .discounts a,
  .delivery a{
    width: 135px;
    font-size: 14px;
    line-height: 18px;
    padding: 10px 0;
    text-transform: uppercase;
    text-align: center;
    border-radius: 3px;
    background: rgba(0,0,0,.1);
}
  /* }
  .materials a,
  .tool a,
  .equipment a,
  .discounts a,
  .delivery a{
    font-size: 14px;
    line-height: 18px;
  } */
  .materials,
  .tool,
  .equipment,
  .discounts,
  .delivery{
    position: relative;
    width: 300px;
    height: 123px;
}
.materials img,
.tool img,
.equipment img,
.discounts img,
.delivery img {
    position: absolute;
    top: 43px;
    right: 43px;
}
.wrapper-slide {
    
}
.rotary-hammers h3{
    position: absolute;
    top: 23px;
    left: 24px;
    font-weight: bold;
    font-size: 36px;
    line-height: 36px;
    text-transform: uppercase;
}
.rotary-hammers li {
    position: relative;
    width: 620px;
    height: 266px;
    background-image: url(..//img/main-photo.jpg);
    background-position: top center;
    background-repeat: no-repeat;
} 
.rotary-hammers img {
    position: relative;
}
.rotary-hammers span {
    position: absolute;
    font-size: 18px;
    line-height: 24px;
}
.rotary-hammers .button {
    position: absolute;
    bottom: 27px;
    left: 24px;
}
.list-manufacturers li{
    
    width: 220px;
    height: 145px;
    list-style-type: none; 
    border: 1px solid #EAEAEA;
    
}
.list-manufacturers li img{

    display:block; 
    margin:25px auto 25px; 
}

.tabset > input[type="radio"] {
    position: absolute;
    left: -200vw;
  }
  .tabset .tab-panel {
    display: none;

  }
.tabset > input:first-child:checked ~ .tab-panels > .tab-panel:first-child,
.tabset > input:nth-child(3):checked ~ .tab-panels > .tab-panel:nth-child(2),
.tabset > input:nth-child(5):checked ~ .tab-panels > .tab-panel:nth-child(3),
.tabset > input:nth-child(7):checked ~ .tab-panels > .tab-panel:nth-child(4),
.tabset > input:nth-child(9):checked ~ .tab-panels > .tab-panel:nth-child(5),
.tabset > input:nth-child(11):checked ~ .tab-panels > .tab-panel:nth-child(6) {
  display: block;
}

  
  .tabset > label {
    position: relative;
    display: inline-block;
    padding: 15px 15px 25px;
    border: 1px solid transparent;
    border-bottom: 0;
    cursor: pointer;
    font-weight: 600;
  }
  
  .tabset > label::after {
    content: "";
    position: absolute;
    left: 15px;
    bottom: 10px;
    width: 22px;
    height: 4px;
    background: #8d8d8d;
  }
  
  .tabset > label:hover,
  .tabset > input:focus + label {
    color: #06c;
  }
  
  .tabset > label:hover::after,
  .tabset > input:focus + label::after,
  .tabset > input:checked + label::after {
    background: #06c;
  }
  
  .tabset > input:checked + label {
    border-color: #ccc;
    border-bottom: 1px solid #fff;
    margin-bottom: -1px;
  }
  
  .tab-panel {
    padding: 30px 0;
    border-top: 1px solid #ccc;
  }
  
  /*
   Demo purposes only
  */
  *,
  *:before,
  *:after {
    box-sizing: border-box;
  }

  
  .tabset {
    max-width: 65em;
  }
  /* Filters */

.filter legend {
    font-weight: 700;
    font-size: 17px;
    line-height: 30px;
    font-family: PT Sans;
  }
  
  .filter ul {
    list-style: none;
    font-size: 15px;
    line-height: 19px;
    font-family: PT Sans;

  }
  
  .filter-input-checkbox:hover + label,
  .filter-input-checkbox:focus + label {
    color: var(--Black);
  }